/* Esse importe faz a importação de arquivos css para outros arquivos css e facilita no carregamento da página */
@import url(./styles/header.css);

/*Para de criar uma variavel, o seletor root é a raiz do html */
/*Variaveis são declaradas com --, variaveis podem ser cores, tamanhos, fontes etc */
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #fff;
}

body {
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: white;
}